<footer id="footer">
  <div class="wrapper">
  	<div class="left">
  		<a href="" class="footer-logo"><img src="<%= image_path('footer-logo.png')%>" alt="Tourlette"></a>
  		<span>2012 Tourlette,  <a href="http://koombea.com">Koombea</a> All Rights Reserved.</span>
  		<a href="mailto:info@tourlette.com">info@tourlette.com</a>

  	</div>
  	<div class="right">
  		<a href="" class="social-icons facebook"></a>
  		<a href="" class="social-icons twitter"></a>
  		<a href="" class="social-icons flickr"></a>
  		<a href="" class="social-icons tumblr"></a>
  	</div>
  </div>
</footer>