<% content_for :title do %>
  Tourlette
<% end %>

<div class="landing-content">
	<h1 id="logo"><a href="/"> <img src="<%= image_path('landing-logo.png')%>" alt=""></a></h1>
	<h2>Start Now!</h2>
  <p class="lead clear">Lorem ipsum dolor sit amet, platonem evertitur cum ex, quo decore commodo ex. Pro porro nonumy facilis ne, ea duo veri officiis efficiantur. Cu sea ancillae assentior</p>
  <a href="" class="fb-btn"><span class="icon facebook"></span> Connect with Facebook</a>
  <div id="myCarousel" class="carousel slide">
	  <!-- Carousel items -->
	  <div class="carousel-inner">
	    <div class="active item"><img src="<%= image_path('misc/slide-img.jpg')%>" alt=""></div>
	    <div class="item"> <img src="<%= image_path('misc/slide-img.jpg')%>" alt=""> </div>
	    <div class="item"> <img src="<%= image_path('misc/slide-img.jpg')%>" alt=""> </div>
	  </div>
	  <!-- Carousel nav -->
	  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div>

<% content_for :javascript do %>
  <script>
    $(function(){

    });
  </script>
<% end %>