<% content_for :title do %>
  Page Title
<% end %>

<div class="wrapper">
	<h2>Hello Rumble</h2>
	<span class="label label-important">Important</span>
	<a href="" class="btn btn-primary"> this is a test for bootstrap</a>

	
</div>

<% content_for :javascript do %>
  <script>
    $(function(){

    });
  </script>
<% end %>