@charset "UTF-8";

/* -----------------------------------------------------------

- Title: Project X Main Stylesheet
- Author: John Doe (http://koombea.com)
- Design by: John Doe (http://koombea.com)

Based on Inuit.css (inuitcss.com)

----------------------------------------------------------- */

/* Reset
============================================================ */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}body{line-height:1;}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}audio,canvas,video{display:inline-block;*display:inline;*zoom:1;}audio:not([controls]){display:none;}[hidden]{display:none;}html{font-size:100%;overflow-y:scroll;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}nav ul{list-style:none;}blockquote,q{quotes:none;}blockquote:before,blockquote:after,q:before,q:after{content:none;}a{font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0;}ins{background-color:#ff9;color:#000;text-decoration:none;}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700;}del{text-decoration:line-through;}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help;}table{border-collapse:collapse;border-spacing:0;}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0;}input,select{vertical-align:middle;}input,textarea,select{font:inherit;}ul{list-style:none;}input:focus,textarea:focus,select:focus{outline: none;}textarea{resize:none;overflow:auto; vertical-align:top;}input,textarea{border:0 none; padding:0;margin:0;}img{border:0;-ms-interpolation-mode:bicubic;} button, input{line-height:normal;*overflow:visible;} button, html input[type="button"], input[type="reset"], input[type="submit"]{cursor:pointer; -webkit-appearance:button;}input[type="checkbox"], input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner, input::-moz-focus-inner{border:0;padding:0;}select{cursor:pointer;}

/* Helpers
============================================================ */
.cf,
.grids,
.media{zoom:1;}
.cf:before,
.grids:before,
.media:before,
.cf:after,
.grids:after,
.media:after{content:""; display:table;}
.cf:after,
.grids:after,
.media:after{clear:both;}

.clear{clear:left;}

.left{float:left !important;}
.right{float:right !important;}
.center{
  float:none !important;
  margin-left:auto !important;
  margin-right:auto !important;
}

.alignleft{text-align:left !important;}
.alignright{text-align:right !important;}
.aligncenter{text-align:center !important;}

.media{display:block;}
.media .img{
  float:left;
  margin-right:10px;
}
.media .body{
  overflow:hidden;
  margin-bottom:0;
  padding-bottom:10px;
}

.push-top{margin-top:20px !important;}
.push{margin-bottom:20px !important;}
.bigpush{margin-bottom:50px !important;}

/* General
============================================================ */
body{
  background-color:#F5F5F5;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-weight: 300;
  color:#666;
}

html, body {
  height: 100%;
}

#wrapper{
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -240px;
}

h1,h2,h3,h4,h5,h6,p{
  line-height:1.4em;
  margin-bottom:20px;
  margin-bottom:1.5rem;
}

a{
  text-decoration:none;
  -moz-transition:color 0.1s linear;
  -webkit-transition:color 0.1s linear;
  transition:color 0.1s linear;
}

img{
  max-width:100%;
  height:auto;
}
img.left{margin:0 1.5em 0 0;}
img.right{margin:0 0 0 1.5em;}

/* Grid
============================================================ */
.wrapper{
  max-width:930px;
  margin:0 auto;
  padding:0 5px;
  position: relative;
}

.wrapper.stripe{background:url('/assets/backgrounds/body.jpg') repeat-y top right;}

.grids{
  list-style:none;
  clear:both;
  margin:0 0 0 -1.042%;
  max-width:940px;
}

[class^="grid-"]{
  float:left;
  margin:0 1.042% 0 0;
}

.grids [class^="grid-"]{margin:0 0 0 1.042%;}

.grid-1{ width:3.125% }
.grid-2{ width:7.292% }
.grid-3{ width:11.458% }
.grid-4{ width:15.625% }
.grid-5{ width:19.792% }
.grid-6{ width:23.958% }
.grid-7{ width:28.125% }
.grid-8{ width:32.292% }
.grid-9{ width:36.458% }
.grid-10{ width:40.625% }
.grid-11{ width:44.792% }
.grid-12{ width:48.958% }
.grid-13{ width:53.125% }
.grid-14{ width:57.292% }
.grid-15{ width:61.458% }
.grid-16{ width:65.625% }
.grid-17{ width:69.792% }
.grid-18{ width:73.958% }
.grid-19{ width:78.125% }
.grid-20{ width:82.292% }
.grid-21{ width:86.458% }
.grid-22{ width:90.625% }
.grid-23{ width:94.792% }
.grid-24{ width:98.958%; margin:0; }

/* Header
============================================================ */
#header{}
#logo{float:left;margin-bottom: 0;}
#header nav{float:right;}
#header nav li,
#header nav a{display:inline-block;}
.ie7 #header nav a{display:inline;}

/* Content
============================================================ */
#content{
  padding-bottom:240px;
}

.sep{
  height:1px;
  border-bottom:solid #CCC 1px;
  margin:10px 0;
}

p.lead{
  color:#1E1E1E;
  font-size: 20px;
}

section p.lead{width:90%;}

.number-bullet{
  border:solid #FF2F43 5px;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  border-radius:50%;
  color:#FF2F43;
  display: inline-block;
  font-size: 22px;
  margin-right:10px;
  padding:5px;
}

.step-title{
  display: inline-block;
  font-size: 22px;
  margin-top:10px;
}

.img.rounded{
  border:solid #CCC 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.img.rounded img{
  height:132px;
  width:132px;
}

.tiny-feed .img.rounded{border:solid #CCC 5px;}

.tiny-feed .img.rounded img{
  height:65px;
  width:65px;
}

.body.centered{padding-top:40px;}

.name{
  color:#1E1E1E;
  font-size: 22px;
  display:block;
}

.name + a{
  color:#FF2F43;
  font-size: 22px;
}

.form-fields{position:relative;}

.form-fields .absolute-img{
  position:absolute;
  top:-90px;
  right:0;
}

.settings{padding:20px 0;}
.settings input{vertical-align:0px;}
.settings div{margin-bottom:5px;}

.setting-icons{
  background:url('/assets/icons/app-icons.png') no-repeat 0px 0px;
  padding:5px 0 0 25px;
  display:inline-block;
  height:25px;
}

.setting-icons.romance{background-position: 0px 4px;}
.setting-icons.adventure{background-position: 0px -134px;}
.setting-icons.culture{background-position: 0px -274px;}
.setting-icons.shopping{background-position: 0px -40px;}
.setting-icons.night-life{background-position: 0px -181px;}
.setting-icons.local-inmersion{background-position: 0px -320px;}
.setting-icons.family{background-position: 0px -82px;}
.setting-icons.eco-friendly{background-position: 0px -224px;}
.setting-icons.fun{background-position: 0px -365px;}

.main{
  padding-top:10px;
  width:570px;
  float:left;
}

.sidebar{
  margin-right: -5px;
  width:320px;
  float:right;
}

.fb-banner{
  background: rgb(59,89,152); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(59,89,152,1) 0%, rgba(34,52,91,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(59,89,152,1)), color-stop(100%,rgba(34,52,91,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(34,52,91,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(34,52,91,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(59,89,152,1) 0%,rgba(34,52,91,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(59,89,152,1) 0%,rgba(34,52,91,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3b5998', endColorstr='#22345b',GradientType=0 ); /* IE6-9 */
  height:107px;
  width:320px;
}

.fb-copy{
  color:#FFF;
  font-size: 25px;
  font-weight: 400;
  text-shadow:0px 1px #000;
  line-height: 0.95;
  width:170px;
}

.fb-banner .body{padding-top:10px;}
.fb-banner .media{
  padding:12px 0 0 20px;
}

.arrow_box {
  position: relative;
  background: #FFFFFF;
  border: 1px solid #cccccc;
}
.arrow_box:after, .arrow_box:before {
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}


.normal .arrow_box:after, .normal .arrow_box:before{right:100%;}
.normal .arrow_box:after{border-right-color: #FFFFFF;}
.normal .arrow_box:before{border-right-color: #cccccc;}

.inverse .arrow_box:after, .inverse .arrow_box:before{left:100%;}
.inverse .arrow_box:after{border-left-color: #FFFFFF;}
.inverse .arrow_box:before{border-left-color: #cccccc;}

.arrow_box:after {
  border-color: rgba(255, 255, 255, 0);
  border-width: 10px;
  top: 40px;
  margin-top: -20px;
}
.arrow_box:before {
  border-color: rgba(204, 204, 204, 0);
  border-width: 11px;
  top: 40px;
  margin-top: -21px;
}

.tiny-feed{padding-top:20px;}

.tiny-feed .body-visible{
  -webkit-border-radius:7px;
  -moz-border-radius:7px;
  border-radius:7px;
  width:195px;
  float:left;
  margin-left:5px;
  -webkit-box-shadow: 0px 1px #FFF;
  -moz-box-shadow: 0px 1px #FFF;
  box-shadow: 0px 1px #FFF;
}


.tiny-feed .media{margin-bottom:43px;}

.tiny-feed .img{margin-left:15px;}


.tiny-feed .media.inverse .img{margin-right:15px;float:right;}
.tiny-feed .media.inverse .body-visible{
  float:right;
  margin-right:5px;
}

.tiny-feed .body-visible .body-head{
  padding:10px;
  position:relative;
  border-bottom:solid #CCC 1px;
}

.tiny-feed .body-visible .name,
.tiny-feed .body-visible p{
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400; 
}

.tiny-feed .body-visible .date{
  color:#FF2F43;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400; 
}

.tiny-feed .body-visible p{
  width:170px;
  margin:0 auto;
  padding:10px;
  line-height: 1;
}

.like-icon{
  background:url('/assets/icons/like.png') no-repeat 0px 0px;
  height:15px;
  width: 15px;
  display:inline-block;
  position:absolute;
  right:28px;
}

.likes{
  font-size: 13px;
  font-family: Helvetica, sans-serif;
  position:absolute;
  padding:1px 4px;
  border:solid #CCC 1px;
  right:5px;
}
.likes:before, .likes:after{
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.likes:after{
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #FFFFFF;
  border-width: 4px;
  top: 40%;
  margin-top: -2px;
}

.likes:before{
  border-color: rgba(204, 204, 204, 0);
  border-right-color: #cccccc;
  border-width: 5px;
  top: 36%;
  margin-top: -2px;
}

/* modal
============================================================ */

.modal{
  border: solid #FF2F43 8px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  border-radius:10px;
}

.modal-body h2{
  font-size: 28px;
  font-weight: 300;
  color:#FF2F43;
  margin-bottom: 0px;
}

.modal-body h3{
  font-size: 28px;
  font-weight: 300;
  color:#00A2A2;
  margin-bottom:15px;
}

.modal-body p{
  font-size: 18px;
  color:#1E1E1E;
  line-height: 1.2;
}

.modal .close{
  margin-right:5px;
}

/* Map
============================================================ */

#map{
  height:680px;
  width:100%;
}

/*This is for markup only - remove if necessary*/
#map iframe{
  width:100%;
}

.v-island{
  padding:20px 0;
}

.v-island-big{
  padding:40px 0;
}

.copy-block{
  display:inline-block;
  margin:0 19px;
  width:268px;
  text-align:left;
}

#pic-site{
  background:url('/assets/misc/pics-module-blur.jpg') repeat-x 0px 0px;
  margin:0 auto;
  height:760px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.pics-module{
  background:url('/assets/misc/pics-module.jpg') no-repeat 0px 0px;
  margin:0 auto;
  height:760px;
  position:relative;
  width:1280px;
}

.pics-module .module{
  background-color:#F5F5F5;
  overflow:hidden;
  width:630px;
  padding:0 10px;
  position: absolute;
  left:50%;
  height:760px;
  margin-left:-328px;
}

.pics-module .module .item{
  display:inline-block;
  padding-top:15px;
  width:630px;
}

.item{
  position:absolute;
}
#item2{
  left:650px;
}

.item hgroup h3{
  font-size: 25px;
  color:#1E1E1E;
  font-weight: 300;
  margin-bottom:0px;
}

.item hgroup h4{
  font-size: 22px;
  color:#FF2D43;
  font-weight: 300;
  margin-bottom:0px;
}

.item p.lead{
  color:#666;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.2;
  width:420px; 
}

ul.route{clear:both;}

ul.route .image{
  border: solid #CCC 8px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

ul.route li{
  float:left;
  position:relative;
  height:100px;
  margin-right:25px;
  width:100px;
}

ul.route li .arrow{
  background: url('/assets/icons/arrow.png') no-repeat ;
  height:23px;
  position:absolute;
  width:34px;
  right:-17px;
  top:40px;
}

ul.route li:last-child{margin-right:0;}

ul.route li img,
ul.route li .image{
  height:87px;
  width:87px;
}

.item .body{padding:0 40px 0 20px;}

.place_info{
  position: absolute;
  background: #FFFFFF;
  border: 1px solid #cccccc;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding:2px 5px;
  width:130px;
  top: -40px;
  left: -20px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
  -webkit-transition:opacity 0.2s linear;
  -moz-transition:opacity 0.2s linear;
  transition:opacity 0.2s linear;
}

ul.route li:hover .place_info{
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}

.place_info:after, .place_info:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.place_info:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #FFFFFF;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.place_info:before {
  border-color: rgba(204, 204, 204, 0);
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}

.place_info .place{
  font-size: 15px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color:#333;
  display:block;
  text-align: center;
}

.place_info .address{
  font-size: 15px;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  color:#999;
  display:block;
  text-align: center;
}

.top-route{
  background: url('/assets/icons/marker.png') no-repeat;
  color:#1E1E1E;
  font-size: 22px;
  padding-left:20px;
  display:block;
  margin-bottom:20px;
}

.stars{width: 150px !important;}

.item .next-btn{
  background:url('/assets/icons/next-btn.png') no-repeat;
  cursor:pointer;
  position: absolute;
  height: 37px;
  right: 0;
  top:365px;
  width:37px;
}

/* Footer
============================================================ */
#footer{
  background-color:#444;
  height:240px;
}

#footer *{line-height: 1.2;}

#footer .footer-logo{
  display:inline-block;
  margin:59px 0 15px 0;
}
#footer .footer-logo + span{
  color:#FFF;
  display:block;
  font-size: 17px;
  font-weight: 400;
}
#footer span + a{
  color:#CCC;
  font-size: 17px;
  font-weight: 400;
}

.social-icons{
  background:url('/assets/icons/social-icons.png') no-repeat 0px 0px;
  display: inline-block;
  height:40px;
  margin:90px 0 0 10px;
  width:40px;
}

.social-icons.facebook{background-position:0px 0px;}
.social-icons.twitter{background-position:-51px 0px;}
.social-icons.flickr{background-position:-102px 0px;}
.social-icons.tumblr{background-position:-153px 0px;}



/* Forms
============================================================ */
.field{margin-bottom:20px;}

label{
  display:block;
  margin-bottom:10px;
}

label.inline{display:inline-block;}
.ie7 label.inline{display:inline;}
label.checkbox{cursor:pointer;}
label.checkbox input,
label.checkbox span{vertical-align:middle;}
label.checkbox input{margin-right:5px;}

.text{
  height:auto !important;
  border: 0 none !important;
  background-color:#E8E8E8 !important;
  -webkit-border-radius:2px !important;
  -moz-border-radius:2px !important;
  border-radius:2px !important;
  color:#000 !important;
  font-size: 18px !important;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  text-shadow:0px 1px #FFF !important;
  padding:5px 10px !important;
  -webkit-box-shadow:inset 0px 1px rgba(153,153,153,0.45), 0px 1px #FFF !important;
  -moz-box-shadow:inset 0px 1px rgba(153,153,153,0.45), 0px 1px #FFF !important;
  box-shadow:inset 0px 1px rgba(153,153,153,0.45), 0px 1px #FFF !important;
  width:90% !important;
}

::-webkit-input-placeholder,  
input:-moz-placeholder{
    color:#000;
    text-shadow:0px 1px #FFF;
}

.ie7 .text{width:95%;}


.btn-red{
  background-color:#FB2E42;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  font-size: 22px;
  color:#FFF;
  display:inline-block;
  text-shadow: 1px -1px 1px rgba(0, 0, 0, 0.4);
  font-weight: 400;
  padding:16px 30px;
}

a.btn-red:hover{
  text-decoration: none;
  color:#FFF;
}

/* Tablets
============================================================ */
@media (min-width: 721px) and (max-width: 960px){

}

/* Mobile
============================================================ */
@media (max-width: 720px){

  .wrapper{width:auto;}

  .grids{
    margin:0;
    width:auto;
  }

  [class^="grid-"],
  .grids [class^="grid-"]{
    float:none;
    margin:0;
    width:auto;
  }

  #logo{
    margin-left:auto;
    margin-right:auto;
  }

  img.left,
  img.right{max-width:50%; height:auto;}

}
