.presentation{margin: 0 auto -20px;}

.presentation .content{
	padding-top: 80px;
	position: absolute;
	text-align: center;
	width: 100%;
	z-index: 1;
}
.presentation #logo{
	display: block;
	width: 100%;
}

.presentation h2{
	font-size: 50px;
	font-weight: inherit;

}

.presentation .lead{

	padding-left: 251px;
	padding-right: 251px;
}

.fb-btn{
	text-decoration: none;
}

.fb-btn:hover{
	text-decoration: none;
}

.fb-btn .icon{
	display: block;
}

.text-facebook{

	color: #FFFFFF;
	font-size: 32px;
	left: 30px;
	position: relative;
	top: -58px;
	z-index: 1;
}

.content-top{
	background-color: #FAFAFA;
	height: 80px;
	padding-bottom: 26px;
	padding-top: 26px;

}

.airfare-icon{ float: left;
	margin-left: 50px;
	margin-right: 32px;
}
.airfare-lead{

	color: #1E1E1E;
	font-size: 35px;

}


.wrapper p.title{

	color: #333333;
	font-size: 35px;
	font-weight: normal;
	margin-left: 50px;

}


.wrapper .our-ventages .lead {
	background: url('/assets/icons/ok-btn.png') no-repeat ;
	color: #262626;
	cursor: pointer;
	display: inline-block;
	font-size: 20px;
	line-height: 1.2em;
	padding-left: 40px;}

	.wrapper .top-content-preview .lead {
		background: url("/assets/icons/user-circle.png") no-repeat scroll 0 0 transparent;
		color: #666666;
		cursor: pointer;
		display: inline-block;
		font-size: 18px;
		line-height: 1.4em;
		padding-left: 53px;
	}



	.bottom-block-landing {
		display: inline-block;
		margin: 0 19px 0 45px;
		text-align: left;
		width: 330px;
	}

	.top-block-landing_1{
		display: inline-block;
		font-size: 18px;
		left: 16px;
		position: relative;
		text-align: left;
		top: -380px;
		width: 201px;
	}

	.top-block-landing_2{
		display: inline-block;
		width: 460px;
	}

	.top-block-landing_3{
		display: inline-block;
		font-size: 18px;
		margin-left: 15px;
		position: relative;
		text-align: justify;
		top: -140px;
		width: 246px;
	}

	.top-block-landing_3 h1{
		color: #FF2F43;
		font-size: 22px;

	}


	.v-island-big-landing {
		padding: 55px 0 0;
	}


	.copy-block .lead{

		text-align: justify;
	}

	.conter-block-landing{
		text-align: center;

	}

	.conter-block-landing .wrapper{
		border-bottom: 1px solid #CCCCCC;
		border-top: 1px solid #CCCCCC;
		margin-bottom: 15px;
		padding-bottom: 10px;
		padding-top: 15px;

	}

	.conter-block-landing .lead{

		margin-left: 176px;
		margin-top: 20px;
		width: 60%;
	}

	.step-img{
		margin-bottom: 40px;
		margin-top: 40px;

	}

	.v-island-small{
		margin-bottom: 40px;
		margin-top: 30px;
	}

.title-head .img-circle {
    border-radius: 500px 500px 500px 500px;
}


.title-head .img.rounded {
    border: 8px solid #CCCCCC;
    border-radius: 50% 50% 50% 50%;
}

.title-head .img.rounded img {
 	height: 76px;
    width: 76px;
}

.title-head .img {
    float: left;
    margin-right: 10px;
}

.title-head{
	 margin-left: 520px;
}

.title-head .name{
	 color: #1E1E1E;
    display: block;
    font-size: 16px;
}


.title-head .name + a {
    color: #FF2F43;
    font-size: 16px;
}